@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&family=Roboto:wght@300;500;700&display=swap');
*{
    font-family: 'Poppins';
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background: rgb(57,0,60);
    background: linear-gradient(4deg, rgba(57,0,60,1) 0%, rgba(121,9,102,1) 23%, rgba(0,212,255,1) 100%);
}